body
{
	background-color: #000000; color: white;
	font-family: "Trebuchet MS";
	font-size: 32;
}

h1 {color: #ffb300}

p 
{
	font-family: "Times new roman";
	font-size: 40px;
	font-weight: bold;
}

a {color: white; text-decoration: none; font-size: 32}

input[type="text"] 
{
	font-size: 32;
	background: #292929;
	color: white;
}

option
{
	font-size: 32;
	color: white;
	background: #292929;
}
select 
{
  width: 15%;
  padding: 16px 20px;
  border: none;
  border-radius: 10px;
  background-color: #292929;
  color: white;
  font-size: 32;
}

input[type=button], input[type=submit], input[type=reset] 
{	
	background-color: #8b0000;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	cursor: pointer;
	font-size: 32;
}